div:hover {
    border: 6px solid black;
}
div:nth-of-type(1) {
    background-color: red;
}
div:nth-of-type(2) {
    background-color: blue;
}
div:nth-of-type(3) {
    background-color: green;
}
div:nth-of-type(4) {
    background-color: darkslateblue;
}
div:nth-of-type(5) {
    background-color: darksalmon;
}
div:nth-of-type(1) > h3 {
    text-transform: uppercase;
    color: white;
}
div:nth-of-type(2) > h3 {
    text-transform: uppercase;
    color: white;
}
div:nth-of-type(3) > h3 {
    text-transform: uppercase;
    color: white;
}
div:nth-of-type(4) > h3 {
    text-transform: uppercase;
    color: white;
}
div:nth-of-type(5) > h3 {
    text-transform: uppercase;
    color: white;
}
div:nth-of-type(3) {
    font-size: 2em;
}
div:nth-child(odd) > h3 {
    font-style: italic
  }
  div:nth-child(even) >h3 {
    font-size: 2em;
    color: black;
  }