.super-mario {
  width: 200px;
  position: absolute;
  left: 100px;
  top: 100px;
  }
  
  .goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 150px;
  }
  
  .baloon {
  position: absolute;
  top: 150px;
  left: 400px;
  }
  
  .speach {
  font-size: 25px;
  position: absolute;
  top: 190px;
  left: 422px;
  z-index: 2;
  }
  
  .bowser {
  width: 200px;
  position: absolute;
  top: 280px;
  left: 680px;
  }